{% extends 'blog/base_detail.html' %}

{% block content %}
<!-- 제목검색 -->
    <div>
        <div class="row no-gutters">

            <div class="col-6 mr-auto">
                <div class="input-group">
                <form class="form-inline" action="{% url 'comment_q' %}" method="get">
                    {% csrf_token %}
                    <div class="input-group-prepend">
                    <i class="material-icons md-48">search</i>
                    </div>
                    <div class="col mr-auto">
                    <input class="form-control" type="text" name="q" value="{{q}}" placeholder="검색">
                    </div>
                </form>
                </div>
            </div>
            <div class="col-auto">
                    <a href="{% url 'post_draft_list' %}"><i class="material-icons md-48">short_text</i></a>
                    <a href="{% url 'post_new' %}"><i class="material-icons md-48">arrow_upward</i></a>
            </div>
        </div>
    </div>
<!-- 제목검색 끝-->
    <div class="post">
        <p>"{{ q.title }}"에 대한 검색결과</p>
        {% for post in c %}
        <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
        <p>{{ post.text|linebreaksbr|urlize|truncatechars:150 }}</p>
        {% endfor %}
    </div>
{% endblock %}