{% extends "blog/base.html" %}

{% block content %}
	{% if form.errors %}
		<p>이름이나 암호가 일치하지 않습니다. 재시도</p>
	{% endif %}

	<form method="POST" action="{% url 'login' %}">
	{% csrf_token %}
		<div class="form-group">
			<!--  {{ form.username.label_tag}}{{ form.username }} -->
			<input class="form-control" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" placeholder="아이디" />
		</div>
		<div class="form-group">
		    
		    <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" placeholder="패스워드" />
		</div>

		<input type="submit" value="로그인" class="btn btn-primary btn-block" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

{% endblock %}