{% load static %}
<html>
  <head>
    <title>PapaMob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=0" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}"/>
  </head>
  <body class="d-flex flex-column h-100">
    <div class="container">
      <div class="page-header">
        <div class="btn-add">
          <a href="{% url 'post_list' %}"><button type="button" class="btn btn-primary btn-sm">Blog</button></a>
          <a href="{% url 'post_app_memolang' %}"><button type="button" class="btn btn-secondary btn-sm">메모랑</button></a>
          <a href="{% url 'post_app_nalsilang' %}"><button type="button" class="btn btn-secondary btn-sm">날씨랑</button></a>
          <a href="{% url 'post_event' %}"><button type="button" class="btn btn-secondary btn-sm">여행환전가계부</button></a>
          <a href="{% url 'post_app_later' %}"><button type="button" class="btn btn-secondary btn-sm">데이즈</button></a>
        </div>
      </div>
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light text-white">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col">
            <address>
              <h6><a href="mailto:bobthedesigner@gmail.com">@2020 PapaMob</a></h6>
            </address>
            <p>
              <a href="{% url 'post_list' %}">blog</a><br>
              <a href="{% url 'post_event' %}">PapaMob</a>
            </p>
          </div>
          <div class="col">
            <img src="/media/images/papamob_footer.png" class="img-fluid" align="right" width="60%" alt="papamob by Seong Ha">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
