{% extends 'blog/base_event.html' %}

{% block content %}

<div class="col-md-8">
  <div class="post" style="margin-top:1rem;">
    <h1><b>날씨랑</b></h1>
  </div>
  <div>
    <h6>Temperature, Dust, Corona briefing. </h6>
    현재 바깥 온도는 몇 도일까? 실제 체감온도는? 나와 가장 가까운 미세먼지 관측소에서 실시간으로 제공하는 미세먼지,
    초미세먼지를 브리핑 받으세요. 오늘 코로나는, 우리 지역은 몇 명이지?
    일일히 검색하지말고 한 번에 브리핑 받으세요.
  </div>
</div>

<div class="col-md-4" style="margin-top:1rem;">
  <a href="https://play.google.com/apps/testing/appinventor.ai_bobthedesigner.nalsiLang"
  role="button" class="btn btn-primary btn-lg btn-block text-light">날씨랑 앱 설치하기<br>Closed Beta</a>
</div>

<div class="col-md-8" style="margin-top:1rem;">
  <img src="/media/images/nalsilang02.png" width="49%" height="auto">
  <img src="/media/images/nalsilang.png" width="49%" height="auto">
</div>

<div class="col-md-8" style="margin-top:2rem;">
  <h6>To do</h6>
  <ul>
    <li>21년 1월중 출시예정.</li>
  </ul>
</div>

<div class="col-md-8" style="margin-top:2rem;">
  <h6>Release Note</h6>
  <ul>
    <li>21/01/13 클로즈베타 진행중.</li>
  </ul>
</div>

<div class="col-md-8" style="margin-top:1rem; margin-bottom:2rem;">
  <script src="https://utteranc.es/client.js"
    repo="bobnorigun/papamob_comments"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>s
  </script>
</div>

{% endblock %}
