{% extends 'blog/base_event.html' %}

{% block content %}
    <div class="post">
        
        <h3>몇 원이라고?</h3>
        <h3>지금까지 얼마나 썼지?</h3>
        <h3>뭐라고 말하지?</h3>
        <p></p>
        <p>지금 그 금액이 한국 돈으로 얼마? 바로 확인!<br> 
            지금 쓴 돈, 오늘 쓴 돈, 전부 다 합쳐서 얼마? 하루 평균은 또 얼마나 썼을 까? 세계에서 한달살기 필수 앱 '여행환전가계부'
        </p>
        <p>
            <a href="/media/files/recordExpenses729.apk" role="button" class="btn btn-success btn-lg btn-block">앱 다운로드<br>recordExpenses729.apk</a>
        </p>
        <p class="text-danger"><small> 위 apk를 다운 받고 파일 클릭, '보안상의 이유로 이 소스의 알 수 없는 앱을 설치할 수 없습니다'에서 '설정'을 눌러 앱 설치 허용하고, 다시 다운 받아 설치. 또는 '알 수 없는 앱 설치'경고에서 '계속'을 눌러 설치. (환율, 현위치 날씨에 위치정보 사용.)
        </small>
        </p>
        <p>
            <img src="/media/images/recSpend.png" width="100%" height="auto" class="img-thumbnail">
        </p>

        <p>
            <a href="/media/files/recordExpenses729.apk" role="button" class="btn btn-success btn-lg btn-block">앱 다운로드<br>recordExpenses729.apk</a>
        </p>
        <p class="text-danger"><small>클로즈 베타테스트 중, 절대 다른 사람에게 이 앱을 공유하지 말 것. 클로즈 베타, 오픈 베타를 거쳐 출시 예정.</small>
        </p><ul>
        <li>2020/3/3 recordExpense729 여행언어사전 업데이트 방식 변경, 기본 해상도에서 하단 컨텐츠 잘림 수정, 버그 픽스</li>
        <li>2020/3/1 recordExpense728 개시</li> 
            </ul>
        </p>
        
        <p><small>ⓒ2020 KimBob's Workshop</small></p>
        

    </div>
{% endblock %}