{% extends 'blog/base_new.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-9 p-3">
        <div class="card border-light mb-4 p-3">
            <div class="card-body">
                <p class="top-menu">
                {% if post.published_date %}
                    <!-- <div class="date">
                        {{ post.published_date|date:'m/d h:m' }}
                    </div> -->
                {% else %}
                    <a class="btn btn-light btn-sm ml-2" href="{% url 'post_publish' pk=post.pk %}">공개</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'post_edit' pk=post.pk %}"><button type="button" class="btn btn-light btn-sm">편집</button></a>

                <!-- <a href="{% url 'post_remove' pk=post.pk %}"><button type="button" class="btn btn-danger btn-sm">삭제</button></a> -->
                {% endif %}
                </p>
                <h4 class="fw-bold"><a href="">{{ post.title }}</a></h4>
                <hr>
                <!-- 내용글은 여기 -->
                <div class="post mt-3"><p>{{ post.text|linebreaksbr|urlize }}</p></div>
            </div>
        </div>
        <div class="comment_btn mt-2 text-center">
          <a class="btn btn-light btn-sm" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글쓰기</a>
        </div>
    </div>

    <div class="col-11 col-lg-8">
    {% for comment in post.comments.all reversed %}
        <div class="card border-0 comment p-3">
            <div class="date">{{ comment.created_date|date:'m/d h:m' }}</div>
            <strong>{{ comment.author }}</strong>
            {{ comment.text|urlize|linebreaks }}
        </div>
    {% empty %}
        <!-- <p>No comments yet :(</p> -->
    {% endfor %}
    </div>
</div>
<div style="height:70">
  <!-- 여백 -->
</div>
{% endblock %}
