{% extends 'blog/base_detail.html' %}

{% block content %}
<!-- 제목검색 -->
    <div class="form-group">
        <form action="{% url 'post_search' %}" method="get">
            {% csrf_token %}
            <input class="form-control" type="text" name="q" value="{{q}}"placeholder="제목검색">
        </form>
    </div>
<!-- 제목검색 끝-->
    <div class="post">
        <p>"{{ q.title }}"에 대한 검색결과</p>
        {% for post in aas %}
        <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
        <p>{{ post.text|linebreaksbr|urlize|truncatechars:150 }}</p>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if aas.has_previous %}

                <a href="?page={{ aas.previous_page_number }}"><strong>이전</strong></a>
            {% endif %}

            <span class="current">
                {{ aas.number }} / {{ aas.paginator.num_pages }}
            </span>

            {% if aas.has_next %}
                <a href="?page={{ aas.next_page_number }}"><strong>다음</strong></a> 
    
            {% endif %}
        </span>
    </div>
{% endblock %}