{% extends 'blog/base_new.html' %}

{% block content %}
<!-- 찾기 -->
<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-8">
  <div class="form-group">
    <form action="{% url 'post_search' %}" method="get">
      {% csrf_token %}
      <input class="form-control form-control-lg" type="text" name="q" value="{{q}}" placeholder="Q...">
    </form>
  </div>
</div>
<!-- 찾기 끝-->

{% for post in modified|slice:":9" %}
  <div class="col-md-10 col-lg-8 mb-3">
    <div class="date">
    {{ post.last_modified|date:'m/d h:m' }}
    </div>
    <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
    <p>{{ post.text|truncatechars:200|urlize }}</p>
  </div>
{% endfor %}
</div>
{% endblock %}
