{% extends 'blog/base_event.html' %}

{% block content %}

<div class="col-md-8">
  <div class="post" style="margin-top:1rem;">
    <h1><b>메모랑</b> MemoLang</h1>
  </div>
  <div>
    <h6>Memo with voice Language.</h6>
    몇 번을 녹음하면 문장이 외워질까? 녹음을 반복하지 않으면 사라져요.
    몇 번을 반복해야 녹음이 남을까요? 짧은 문장 녹음하고 듣고 다시 녹음해보고,
    안 외워질래야 안 외워질수가 없겠죠?
  </div>
</div>

<div class="col-md-4" style="margin-top:1rem;">
  <a href="https://play.google.com/apps/testing/appinventor.ai_bobthedesigner.nalsiLang"
  role="button" class="btn btn-light btn-lg btn-block text-dark">21년 2월 출시예정</a>
</div>

<div class="col-md-8" style="margin-top:1rem;">
  <img src="/media/images/memolang.png" width="49%" height="auto">
</div>

<div class="col-md-8" style="margin-top:2rem;">
  <h6>To do</h6>
  <ul>
    <li>21년 2월 출시예정.</li>
  </ul>
</div>

<div class="col-md-8" style="margin-top:1rem; margin-bottom:2rem;">
  <script src="https://utteranc.es/client.js"
    repo="bobnorigun/papamob_comments"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>s
  </script>
</div>

{% endblock %}
