{% extends 'blog/base_event.html' %}

{% block content %}
    <div class="post">
        <p align="center">
            <img src="/media/images/app_later01.png" width="47%" height="auto" class="img-thumbnail"> <img src="/media/images/app_later02.png" width="47%" height="auto" class="img-thumbnail">
        </p>
        <p>
        <p>날짜와 간단한 메모를 기록합니다. 남은 날짜를 알려줍니다. 알람은 없습니다. 기록했으면 잊으세요.
        </p>
        <p>
            <a href="#" role="button" class="btn btn-light btn-sm btn-block">12월 17일 오픈베타 예정</a>
        </p>
        <p  style="color: #008cdb;"><small> 위 apk를 다운 받고 파일 클릭, '보안상의 이유로 이 소스의 알 수 없는 앱을 설치할 수 없습니다'에서 '설정'을 눌러 앱 설치 허용하고, 다시 다운 받아 설치. 또는 '알 수 없는 앱 설치'경고에서 '계속'을 눌러 설치. (환율, 현위치 날씨에 위치정보 사용.)
        </small>
        </p>
        &nbsp;
        <h6>To do</h6>
          <p><ul>
            <li>메모별 히스토리 관리.</li>
            <li>디자인 부분 개편.</li>
            <li>검색.</li>
            <li>한글 영어 번역.</li>
            <li>전체 메모 갯수 표시.</li>
            </ul>
          </p>
          &nbsp;
          <h6>Release Note</h6>
          <p>
            <ul>
            <li>12/17 오픈베타 출시 예정.</li>
            <li>12/3 표준해상도 기준 레이아웃 조율. 편집에서 날짜 변경하면 새글로 등록되는 오류 수정.</li>
            <li>12/2 디자인 부분 개편.</li>
            <li>12/1 날짜계산로직 간헐적 오류, 고침.</li>
            <li>11/30 디자인 부분 개편.</li>
            <li>11/26 Tip항목 추가. 오류 수정.</li>
            <li>11/28 메모 편집기능 적용. 글자색 랜덤 적용. 7일 미만 색 변화 로직 삭제.</li>
            <li>11/24 가까운 날짜 메모 바로가기 추가. 입력글자 제한 삭제.</li>
            <li>11/23 최신순 나열 삭제.</li>
            <li>11/20 레이아웃 변경. 배경색 랜덤 적용.</li>
            <li>11/15 자료 파일저장하기 불러오기 기능 삭제.</li>
            <li>11/14 앱 시나리오 변경, 디자인 개편 시작.</li>
            <li>11/14 'Later' v 0.1 알파테스트 종료.</li>
            <li>7/29 'Later'로 앱명칭 변경. 앱 심볼 적용.</li>
            <li>7/28 'Days' v 0.1 알파테스트.</li>
            <li>7/27 자료 파일저장하고 불러오기 기능 추가.</li>
            <li>7/10 디자인 적용.</li>
            <li>7/9 앱 시나리오 정리.</li>
            <li>7/3 'Days'로 앱명칭 변경</li>
            <li>6/21 'rePill'앱 기본형 테스트.</li>
            <li>6/6 유통기한 관리 앱 프로젝트 시작.</li>
            </ul>
        </p>
        <p>
          <a href="#" role="button" class="btn btn-light btn-sm btn-block">12월 17일 오픈베타 예정</a>
        </p>
        <p><small>ⓒ2020 PapaMob</small></p>


    </div>
{% endblock %}
