{% extends 'blog/base_detail.html' %}

{% block content %}
<!-- 찾기 -->
    <div class="form-group">
        <form action="{% url 'post_search' %}" method="get">
            {% csrf_token %}
            <input class="form-control form-control-lg" type="text" name="q" value="{{q}}" placeholder="Q...">
        </form>
    </div>
<!-- 찾기 끝-->
    {% for post in modified|slice:":9" %}
        <div class="post">
            <div class="date">
            {{ post.last_modified|date:'m/d h:m' }}
            </div>
            <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
            <p>{{ post.text|truncatechars:200|urlize }}</p>
        </div>
    {% endfor %}
{% endblock %}