{% extends 'blog/base_event.html' %}

{% block content %}


    <div class="container">
      <div class="post">

      </div>
      <div class="post">
        <h1><b>메모랑</b> MemoLang</h1>
      </div>

      <div class="post">Memo with voice Language.
        몇 번을 녹음하면 문장이 외워질까? 녹음을 반복하지 않으면 사라져요. 몇 번을 반복해야 녹음이 남을까요? 짧은 문장 녹음하고 듣고 다시 녹음해보고, 안 외워질래야 안 외워질수가 없겠죠?

      </div>
      <div class="post" align="center">
        <img src="/media/images/memolang.png" width="30%" height="auto" class="img-thumbnail">
      </div>
      <div class="post" align="center">
        <a href="#" role="button" class="btn btn-secondary btn-sm btn-block text-light">21년 1얼 17일 출시예정</a>
      </div>
      <div class="post">
        <h6>To do</h6>
          <p><ul>
            <li>21년 1월 17일 출시예정.</li>
            <!-- <li>디자인 부분 개편.</li>
            <li>검색.</li>
            <li>한글 영어 번역.</li>
            <li>전체 메모 갯수 표시.</li> -->
            </ul>
          </p>
          &nbsp;
          <h6>Release Note</h6>
          <!-- <p>
            <ul>
            <li>12/17 구글플레이스토어 출시. version 1.0</li>
            <li>12/8 46 색짝꿍 적용. 팁 내용 수정.</li>
            <li>12/7 디자인 부분 개편.</li>
            <li>12/6 디자인 부분 개편.</li>
            <li>12/5 달력 재선택할 때 그 날짜 적용.</li>
            <li>12/4 32자 노출제한, 나머지 ... 표시 적용.</li>
            <li>12/3 표준해상도 기준 레이아웃 조율. 편집에서 날짜 변경하면 새글로 등록되는 오류 수정.</li>
            <li>12/2 디자인 부분 개편.</li>
            <li>12/1 날짜계산로직 간헐적 오류, 고침.</li>
            <li>11/30 디자인 부분 개편.</li>
            <li>11/26 Tip항목 추가. 오류 수정.</li>
            <li>11/28 메모 편집기능 적용. 글자색 랜덤 적용. 7일 미만 색 변화 로직 삭제.</li>
            <li>11/24 가까운 날짜 메모 바로가기 추가. 입력글자 제한 삭제.</li>
            <li>11/23 최신순 나열 삭제.</li>
            <li>11/20 레이아웃 변경. 배경색 랜덤 적용.</li>
            <li>11/15 자료 파일저장하기 불러오기 기능 삭제.</li>
            <li>11/14 앱 시나리오 변경, 디자인 개편 시작.</li>
            <li>11/14 'Later' v 0.1 알파테스트 종료.</li>
            <li>7/29 'Later'로 앱명칭 변경. 앱 심볼 적용.</li>
            <li>7/28 'Days' v 0.1 알파테스트.</li>
            <li>7/27 자료 파일저장하고 불러오기 기능 추가.</li>
            <li>7/10 디자인 적용.</li>
            <li>7/9 앱 시나리오 정리.</li>
            <li>7/3 'Days'로 앱명칭 변경</li>
            <li>6/21 'rePill'앱 기본형 테스트.</li>
            <li>6/6 유통기한 관리 앱 프로젝트 시작.</li>
            </ul>
        </p> -->
        </div>
        <div class="post" align="center">
            <a href="#" role="button" class="btn btn-secondary btn-sm btn-block text-light">21년 1얼 17일 출시예정</a>
        </div>
        <p>

        <script src="https://utteranc.es/client.js"
          repo="bobnorigun/papamob_comments"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>s
        </script>
        </p>

        <p align="center"><small>ⓒ2020 PapaMob</small></p>

    </div>
    <div>

    </div>
{% endblock %}
