{% extends 'blog/base_new.html' %}

{% block content %}



<div class="col-md-8">
{% for post in posts %}
  <div class="card mb-3">
    <div class="card-body">
      <h5>
        <strong><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></strong>
      </h5>
      <p class="card-text mt-3">{{ post.text|linebreaksbr|urlize|truncatechars:300 }}</p>
      <a href="{% url 'post_detail' pk=post.pk %}"><small>댓글 {{ post.comments.count }}</small></a>
    </div>
  </div>
{% endfor %}
</div>

<div class="col-md-4 mb-3">
  <div class="ml-4">
  <h6><b>최근 글</b></h6>
  {% for post in modified|slice:":3" %}
    <hr>
    <p class="card-text mt-3">
      <strong><a href="{% url 'post_detail' pk=post.pk %}">
      {{ post.title }}<br>
      </a></strong>
      <small>{{ post.text|linebreaksbr|urlize|truncatechars:100 }}</small>
    </p>
  {% endfor %}
  </div>
</div>

<div class="col-md-8 mb-4">
  <div class="pagination" style="margin-left:1.5rem;">
    <span class="step-links">
      {% if posts.has_previous %}
          <!-- <a href="?page=1">&laquo; 처음</a> | -->
          <a href="?page={{ posts.previous_page_number }}"><strong>이전</strong></a>
      {% endif %}

      <span class="current">
          {{ posts.number }} / {{ posts.paginator.num_pages }}
      </span>

      {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}"><strong>다음</strong></a>
          <!-- |
          <a href="?page={{ posts.paginator.num_pages }}">마지막 &raquo;</a>
          -->
      {% endif %}
    </span>
  </div>
</div>

{% endblock %}
