{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <!-- <div class="date">
                {{ post.published_date|date:'m/d h:m' }}
            </div> --> 
        {% else %}
            <a class="btn btn-light btn-sm" href="{% url 'post_publish' pk=post.pk %}">공개</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}"><button type="button" class="btn btn-light btn-sm">편집</button></a>
        <a href="{% url 'post_remove' pk=post.pk %}"><button type="button" class="btn btn-light btn-sm">삭제</button></a>
        {% endif %}
        <h5>{{ post.title }}</h5>
        <!-- 내용글은 여기 -->
        <p>{{ post.text|linebreaksbr|urlize }}</p>
    </div>
    <div align="right"><a class="btn btn-light btn-sm" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글쓰기</a></div>
    <!--
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date|date:'m/d h:m' }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-light btn-sm" href="{% url 'comment_remove' pk=comment.pk %}">삭제</a>
                    <a class="btn btn-light btn-sm" href="{% url 'comment_approve' pk=comment.pk %}">허용</a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            {{ comment.text|linebreaks }}
        </div>
        {% endif %}
    {% empty %}
        no comment
    {% endfor %}
    -->
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date|date:'m/d h:m' }}</div>
            <strong>{{ comment.author }}</strong>
            {{ comment.text|linebreaks }}
        </div>
    {% empty %}
        <!-- <p>No comments yet :(</p> -->
    {% endfor %}
{% endblock %}