{% extends 'blog/base_event.html' %}

{% block content %}
    <div class="post">
        
        <h3>몇 원이라고?</h3>
        <h3>지금까지 얼마나 썼지?</h3>
        <h3>어디서 썼더라?</h3>
        <p></p>
        <p>세계 한달살기 필수 '여행환전가계부', 얼마일까? 확인하고, 더하면, 비용계산과 쓴 장소까지!! 간편한 여행지출기록앱. 
        </p>
        <p>
            <a href="/media/files/recordExpenses731.apk" role="button" class="btn btn-success btn-lg btn-block">앱 다운로드<br>recordExpenses731.apk</a>
        </p>
        <p class="text-danger"><small> 위 apk를 다운 받고 파일 클릭, '보안상의 이유로 이 소스의 알 수 없는 앱을 설치할 수 없습니다'에서 '설정'을 눌러 앱 설치 허용하고, 다시 다운 받아 설치. 또는 '알 수 없는 앱 설치'경고에서 '계속'을 눌러 설치. (환율, 현위치 날씨에 위치정보 사용.)
        </small>
        </p>
        <p>
            <img src="/media/images/recSpend.png" width="100%" height="auto" class="img-thumbnail">
        </p>

        <p>
            <a href="/media/files/recordExpenses731.apk" role="button" class="btn btn-success btn-lg btn-block">앱 다운로드<br>recordExpenses731.apk</a>
        </p>
        <p class="text-danger"><small>클로즈 베타테스트 중, 절대 다른 사람에게 이 앱을 공유하지 말 것. 클로즈 베타, 오픈 베타를 거쳐 출시 예정.</small>
        </p><ul>
            <li>2020/3/6 recordExpense731 지출을 기록한 장소들을 지도에서 보기 기능 추가. 줄내림 수정, 버그 픽스</li>
            <li>2020/3/5 recordExpense730 습도 온도 호출 시 간헐적 버그 픽스, 하단글 부분 잘림 해소</li>
            <li>2020/3/3 recordExpense729 여행언어사전 업데이트 방식 변경, 기본 해상도에서 하단 컨텐츠 잘림 수정, 버그 픽스</li>
            <li>2020/3/1 recordExpense728 개시</li> 
            </ul>
        </p>
        
        <p><small>ⓒ2020 KimBob's Workshop</small></p>
        

    </div>
{% endblock %}