body {
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: normal;
    color: #343a40;
}

a, a:visited, a:active {
    overflow: hidden;
    word-break: break-all;
    color: #000000;
}

.page-header {
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    text-decoration: none;
}

.date {
    font-size: x-small;
    color: #e83e8c;
}

.save {
    float: center;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    float: right;
}

.post {
    margin-bottom: 2rem;
}