<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 부트스트랩은 5.0으로 업 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    -->
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">

          {% block sidebar %}
          <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'books' %}">All books</a></li>
            <li><a href="{% url 'authors' %}">All authors</a></li>
            <!-- 프로젝트 두 앱 사이에 링크걸기. 이렇게 쉬운거였어? -->
            <!-- 현재 앱 url에 서술한 링크가 아닌데 그냥 됨. -->
            <li><a href="">blog</a></li><hr>
          {% if user.is_authenticated %}
            <li>User: <b>{{ user.get_username }}</b></li>
            <li><a href="{% url 'my-borrowed' %}">My Borrowed</a><hr>
            <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
          {% endif %}
          {% if perms.catalog.can_mark_returned %}
            <hr><li><b>Staff</b></li>
            <li><a href="{% url 'all-borrowed' %}">All Borrowed</a>
            <li><a href="{% url 'author-create' %}">Author create</a>
            <li><a href="{% url 'book-create' %}">Book create</a>
          {% endif %}
          </ul>
          {% endblock %}

        </div>
      <div class="col-sm-10">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
