{% extends "blog/base_new.html" %}

{% block content %}
<div class="col-md-8">

  {% if papaabb_list %}
  <div class="row mt-1">
    {% for papaabb in papaabb_list %}
      <div class="col-6 col-md-4 mb-4">
        <div class="card">
          <a href="{{ papaabb.get_absolute_url }}">
            <img src="{{ papaabb.coverimage.url }}" style="width:100%">
          </a>
          <div class="card-body">
            <p><b><a href="{{ papaabb.get_absolute_url }}">{{ papaabb.title }}</a></b><br>
            {{ papaabb.summary|truncatechars:50 }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
  <p>There are no apps in the papaabb.</p>
  {% endif %}

</div>
{% endblock %}
