{% extends "blog/base_new.html" %}

{% block content %}
<!-- 기준 가이드
<div class="container-lg my-5">
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="p-5 bg-primary text-light">col1</div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="p-5 bg-primary text-light">col1</div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="p-5 bg-primary text-light">col1</div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class="p-5 bg-primary text-light">col1</div>
    </div>
  </div>
</div> -->

<div class="container-lg">
    <div class="row justify-content-center">
        <!-- 업데이트 -->
        <div class="col-md-8 col-lg-4 col-xl-3 p-1">
            <div class="card border-0 p-3">
                <h4>

                  현재 진행 중...

                </h4>
                <hr>
                {{ context }}
                <div class="row justify-content-center">
                {% for papaabb in papaabb_list|slice:":4" %}
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                        <a href="{{ papaabb.get_absolute_url }}">
                          <img src="{{ papaabb.iconimage.url }}" class="card-img" style="width:100%">
                        </a>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9 col-lg-9">
                    <!--<p class="card-text text-mute">-->
                      <a href="{{ papaabb.get_absolute_url }}">
                          <b>{{ papaabb.title }}</b>
                          {% if papaabb.is_new %}
                          <i class="bi bi-clock-fill text-danger"></i>
                          {% endif %}<br>
                          {{ papaabb.releasenote|linebreaksbr|urlize|truncatechars:50 }}
                      </a>
                    <!--</p>-->
                    </div>
                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- 프로젝트 목록보기 -->
        <div class="col-lg-8 col-xl-9">
            <div class="row">
              <!-- <div class="col">Column</div> -->
                {% for papaabb in papaabb_list %}
                <div class="col-sm-6 col-xl-4 p-2">
                    <div class="card border-light border-1 mb-5">

                      <!--프로젝트 스크린샷-->
                        <a href="{{ papaabb.get_absolute_url }}">
                        <img src="{{ papaabb.coverimage.url }}" class="card-img-top" style="width:100%">
                        </a>

                      <!--프로젝트 제목영역-->
                        <div class="card-body text-center p-3" style="background-color:#ffffff;">
                            <a href="{{ papaabb.get_absolute_url }}">
                              <img src="{{ papaabb.iconimage.url }}" class="card-img" style="width:17%">
                            </a>

                            <h7 class="card-title fw-bold">
                              <a href="{{ papaabb.get_absolute_url }}">
                                {{ papaabb.title }}
                              </a>
                            {% if papaabb.is_new %}
                            <i class="bi bi-clock-fill text-danger"></i>
                            {% endif %}
                            <br>
                            </h7>
                            <!--<p>
                            {{ papaabb.summary|truncatechars:50 }}
                            </p>-->
                            {% if papaabb.downloadurl %}
                            <a href='{{ papaabb.downloadurl }}'>
                            <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' width="auto" height="60px"/>
                            </a>
                            {% else %}
                            {% endif %}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8 col-lg-7">
            <p style="mt-4">{{ post.title }}</p>
        </div>
    </div>
</div>
<div style="height:70">
  <!-- 여백 -->
</div>

{% endblock %}
