{% extends "blog/base_new.html" %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-6 col-md-offset-2">

  {% if papaabb_list %}
  <div class="row row-cols-sm-2 g-3">
    {% for papaabb in papaabb_list %}
      <div class="col-6 col-md-4 mb-4">
        <div class="card">
          <a href="{{ papaabb.get_absolute_url }}">
            <img src="{{ papaabb.coverimage.url }}" style="width:100%">
          </a>
          <div class="card-body">
            <p><b><a href="{{ papaabb.get_absolute_url }}">{{ papaabb.title }}</a></b>
              {% if papaabb.is_new %}
              <span class="badge bg-danger"><small>New</small></span>
              {% endif %}<br>
            {{ papaabb.summary|truncatechars:50 }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
  <p>There are no apps in the papaabb.</p>
  {% endif %}

</div>
<!--오른쪽 날개-->
<div class="col-md-8 col-lg-2 mb-5">

  <div class="ms-3">

  <h5>기록</h5>
  {% for papaabb in papaabb_list|slice:":8" %}
    <hr>
    <p class="card-text mt-3">
      <strong><a href="{{ papaabb.get_absolute_url }}">
      {{ papaabb.title }}
      {% if papaabb.is_new %}
      <span class="badge bg-danger"><small>New</small></span>
      {% endif %}
      </a></strong>
      <br>
      <small>{{ papaabb.releasenote|linebreaksbr|urlize|truncatechars:50 }}</small>
      <br>
    </p>
  {% endfor %}
  </div>
</div>
</div>
<!-- 오른쪽 날개 끝 -->

{% endblock %}
