{% extends "blog/base_new.html" %}

{% block content %}

<!--
<div class="row" style="background-color:white">
    <div class="col-12 col-lg-9 col-xl-10">
      1
    </div>
    <div class="col-12 col-lg-3 col-xl-2">
      2
    </div>
</div> -->

<div class="row" style="background-color:white">
    <div class="col-12 col-md-9 col-lg-9 col-xl-10 mt-2 px-3" style="background-color:white">
      <p style="font-size:42; font-weight:bold;">{{ papaabb.title }}</p>
      <p style="font-size:24; font-weight:bold;">{{ papaabb.subtitle }}</p>
    </div>
    <div class="col-3 col-md-3 col-lg-3 col-xl-2 mt-2 mb-4 mx-auto">
      {% if papaabb.iconimage %}
        <img src="{{ papaabb.iconimage.url }}" width="100%" height="auto"/>
      {% else %}
      {% endif %}
    </div>
    <div class="col-12 mb-4 px-4">
      <p>{{ papaabb.summary }}</p>
    </div>
    <div class="col-12 mb-4" align="center">

      <img src="{{ papaabb.badgeimage.url }}" style="width:55">&nbsp;&nbsp;
      <img src="{{ papaabb.badgeimage2.url }}" style="width:55">&nbsp;&nbsp;
      <img src="{{ papaabb.badgeimage3.url }}" style="width:55">&nbsp;&nbsp;

      {% if papaabb.downloadurl %}
      <a href='{{ papaabb.downloadurl }}'>
      <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' width="auto" height="80px"/>
      </a>
      {% else %}
      {% endif %}
    </div>

    <div class="col-12 mb-4" align="center">
      <img src="{{ papaabb.coverimage.url }}" style="width:24%">
      <img src="{{ papaabb.coverimage2.url }}" style="width:24%">
      <img src="{{ papaabb.coverimage3.url }}" style="width:24%">
      <img src="{{ papaabb.coverimage4.url }}" style="width:24%">
    </div>

    <div class="col-12 mt-3 mb-4 px-4">
      {% if user.is_authenticated %}
      <p class="top-menu">
        <a href="{% url 'abb-update' pk=papaabb.pk %}"><button type="button" class="btn btn-secondary btn-sm">편집</button></a>
      </p>
      {% else %}
      {% endif %}
      <p style="font-size:24; font-weight:bold;">최근 기록</p>

        <ul class="list-group list-group-flush">
          {% for note in papaabb.releasenote_as_list %}
            <li class="list-group-item">
              {{ note }}
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-12 mb-4">
        <script src="https://utteranc.es/client.js"
          repo="bobnorigun/papamob_comments"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>s
        </script>
    </div>
</div>



<!-- 이전버전
<div class="row justify-content-md-center">
  <div class="col-10 col-md-8 col-lg-6">
    <div class="mt-1">
      <h1><b>{{ papaabb.title }}</b></h1>
    </div>
    <div class="mt-3" style="font-size:20;">
      <p>{{ papaabb.subtitle }}</p>
    </div>
  </div>
  <div class="col-2">
    <div align="right">
    {% if papaabb.iconimage %}
      <img src="{{ papaabb.iconimage.url }}" width="79" align="center" height="auto"/>
    {% else %}
    {% endif %}
    </div>
  </div>
  <div class="col-12 col-md-10 col-lg-8">
    <p>{{ papaabb.summary }}</p>
  </div>
  <div class="col-12 col-md-10 col-lg-8 mt-2 mb-4" align="center">
    {% if papaabb.badgeimage %}
    <img src="{{ papaabb.badgeimage.url }}" style="width:55">&nbsp;&nbsp;
    {% else %}
    {% endif %}
    {% if papaabb.badgeimage2 %}
    <img src="{{ papaabb.badgeimage2.url }}" style="width:55">&nbsp;&nbsp;
    {% else %}
    {% endif %}
    {% if papaabb.badgeimage3 %}
    <img src="{{ papaabb.badgeimage3.url }}" style="width:55">&nbsp;&nbsp;
    {% else %}
    {% endif %}
    {% if papaabb.downloadurl %}
    <a href='{{ papaabb.downloadurl }}'>
    <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' width="auto" height="80px"/>
    </a>
    {% else %}
    {% endif %}
  </div>
  <div class="col-12 col-md-10 col-lg-8 mb-3">
    <div class="row">
      <div class="col-sm-3">
        {% if papaabb.coverimage %}
        <img src="{{ papaabb.coverimage.url }}" style="width:100%">
        {% else %}
        No Image
        {% endif %}
      </div>
      <div class="col-sm-3">
        {% if papaabb.coverimage2 %}
        <img src="{{ papaabb.coverimage2.url }}" style="width:100%">
        {% else %}
        No Image
        {% endif %}
      </div>
      <div class="col-sm-3">
        {% if papaabb.coverimage3 %}
        <img src="{{ papaabb.coverimage3.url }}" style="width:100%">
        {% else %}
        No Image
        {% endif %}
      </div>
      <div class="col-sm-3">
        {% if papaabb.coverimage4 %}
        <img src="{{ papaabb.coverimage4.url }}" style="width:100%">
        {% else %}
        No Image
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-12 col-md-9 col-lg-7 mt-3 mb-1">
    <hr>
    {% if user.is_authenticated %}
    <p class="top-menu">
      <a href="{% url 'abb-update' pk=papaabb.pk %}"><button type="button" class="btn btn-secondary btn-sm">편집</button></a>
    </p>
    {% else %}
    {% endif %}
    <h6>Release Notes</h6>
  </div>
  <div class="col-12 col-md-9 col-lg-7 mt-1 mb-3">
      <ul class="list-group">
        {% for note in papaabb.releasenote_as_list %}
          <li class="list-group-item">
            <small>{{ note }}</small>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="col-12 col-md-10 col-lg-8 mt-3 mb-3">
      <script src="https://utteranc.es/client.js"
        repo="bobnorigun/papamob_comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>s
      </script>
    </div>
  </div> -->
  <div style="height:70">
    <!-- 여백 -->
  </div>
{% endblock %}
