{% extends "blog/base_new.html" %}

{% block content %}

<div class="container-lg">
    <div class="row justify-content-center">
        <!--App INFO-->
        <div class="col-md-8 col-lg-4 col-xl-3 p-3 text-center">
            <div class="card border-0 p-3">
              <p style="background-color:black; text-align:left;">
                &nbsp;
              </p>
              <!--Title-->
              <h5>
                {{ papaabb.title }}
              </h5>

              <!--AppIcon-->
              <p>
                <a href="{{ papaabb.get_absolute_url }}">
                  <img src="{{ papaabb.iconimage.url }}" class="card-img" style="width:70%; align:center;">
                </a>
              </p>
              <!--playStoreLink-->
                {% if papaabb.downloadurl %}
                  <p>
                    <a href="{{ papaabb.downloadurl }}">
                    <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' width="auto" height="60px"/>
                    </a>
                  </p>
                {% else %}
                {% endif %}

                <!--업데이트 기록-->

                  <!--edit menu-->
                    {% if user.is_authenticated %}
                      <p>
                        <a href="{% url 'abb-update' pk=papaabb.pk %}">
                          <button type="button" class="btn btn-light btn-sm">
                            진행내용편집
                          </button>
                        </a>
                      </p>
                    {% else %}
                    {% endif %}
                  <!--
                    <p style="background-color:#999999; color:#f8e684;">
                      <b>...ing</b>
                    </p>
                    <p style="font-size:16;" align="left">

                      {% for note in papaabb.releasenote_as_list %}
                        {{ note }}
                      {% endfor %}
                    </p>text-->
                    <!--<ul class="list-group list-group-flush">
                    {% for note in papaabb.releasenote_as_list %}
                    <li class="list-group-item">
                      {{ note }}
                    </li>
                    {% endfor %}
                    </ul>-->

            </div>
        </div>

        <!-- App Screenshots -->
        <div class="col-lg-8 col-xl-9">
            <div class="row">
              <!--여행지도 게시판-->
              {% if request.get_full_path == "/abb/15" %}
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                    <p class="p-3">
                      <b>여행지도모음</b><br><small>링크를 복사해서 여행지도앱 주소란에 붙여넣고 내려받기합니다.</small>
                    </p>
                    {% for comment in papaabb.comments.all %}
                        <div class="comment">

                            <strong>{{ comment.author }}</strong>
                            <br><small>{{ comment.text|linebreaks }}</small>
                        </div>
                    {% empty %}
                        <p class="p-3">No comments here yet :(</p>
                    {% endfor %}
                  </div>
              </div>
              {% else %}
              {% endif %}
              <!--동영상-->
              {% if papaabb.videourl %}
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                <div class="ratio" style="--bs-aspect-ratio: 178%;">
                  <iframe src="{{ papaabb.videourl }}" title="파파몹 앱들 소개하기" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              {% else %}
              {% endif %}
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                      <img class="card-img" src="{{ papaabb.coverimage.url }}">
                  </div>
              </div>
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                      <img class="card-img" src="{{ papaabb.coverimage2.url }}">
                  </div>
              </div>
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                      <img class="card-img" src="{{ papaabb.coverimage3.url }}">
                  </div>
              </div>
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                      <img class="card-img" src="{{ papaabb.coverimage4.url }}">
                  </div>
              </div>
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                      <img class="card-img" src="{{ papaabb.badgeimage.url }}">
                  </div>
              </div>
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                      <img class="card-img" src="{{ papaabb.badgeimage2.url }}">
                  </div>
              </div>
              <div class="col-sm-6 col-xl-4 p-3 mb-3">
                  <div class="card border-light border-0">
                      <img class="card-img" src="{{ papaabb.badgeimage3.url }}">
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div style="height:70">
  <!-- 여백 -->
</div>

      <!--제목, 소제목, 설명, 아이콘, 다운로드-->

            <!--
            <h5 class="mb-3">{{ papaabb.subtitle }}</h5>
            <p class="text-start">{{ papaabb.summary }}</p>
            <p>
            <img src="{{ papaabb.badgeimage.url }}" style="width:55">&nbsp;&nbsp;
            <img src="{{ papaabb.badgeimage2.url }}" style="width:55">&nbsp;&nbsp;
            <img src="{{ papaabb.badgeimage3.url }}" style="width:55">&nbsp;&nbsp;
            </p>
            -->

{% endblock %}
