{% extends "blog/base_new.html" %}

{% block title %}
<title>PapaMob Apps</title>
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-10 col-lg-8">

  <div class="mt-3">
    <p>Trustworthy Personal Brand</p>
  </div>
</div>

<div class="col-md-10 col-lg-8">
  <div class="row row-cols-sm-2 g-3">
    <!-- <div class="col-4 col-md-3">
      <div class="card" align="center">
        <a href="mailto:bobthedesigner@gmail.com"><h1 class="display-1">+</h1></a>
        <div class="card-body">
          <small><b>Join!</b></small>
        </div>
      </div>
    </div>-->
    <!-- 멤버 시작 -->
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>Doodle Artist<br>@TeenMob</small>
        </div>
      </div>
    </div>
    <!-- 멤버 끝 -->
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob_d.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>Carpenter<br>@namunulbo</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob_d.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>3D Printing Modeler<br>@yongsun</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob_d.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>Author & C.G. Specialist<br>@jihoon</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob_d.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>Cardboard Study Block for Children<br>@pmhlove</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob_d.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>Architect<br>@Kangta</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob_d.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>Autozzi<br>@guadi</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob_d.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>Big Data Specialist<br>@Seri</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob2.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>PapaMob</small>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-3 mb-3">
      <div class="card" align="center">
        <img src="/media/images/papamob3.jpg" width="100%" height="auto">
        <div class="card-body">
          <small>GodingMob</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10 col-lg-8">
    <h5><b>Content</b></h5>
    <p>The library has the following record counts:</p>
    <ul>
      <li><strong>Posts:</strong> {{ num_posts }}</li>
      <li><strong>Apps:</strong> {{ num_abbs }}</li>
    </ul>
  </div>
</div>
  </div>
{% endblock %}
