{% extends "blog/base_new.html" %}

{% block title %}
<title>PapaMob Apps</title>
{% endblock %}

{% block content %}
<div class="row justify-content-center m-3 mb-5">
    <div class="card col-md-10 col-lg-8 p-5">
        <h5 class="display-6">업데이트 기록</h5>
        <hr>
        <p style="mt-4">{{ read | truncatechars:1000 | linebreaksbr }}</p>
        <hr>
        <p>진행중인 서비스: {{ num_abbs }} | 프로젝트 진행일지: {{ num_posts }}</p>
    </div>
    <!--
    <div class="row col-md-8 m-5">
        <div class="col-2">
            <img class="img-fluid" src="/media/images/papamob_512512.png" width="100%" height="auto"/>
        </div>
        <div class="col-6 text-start">
            <p class="text-start">파파몹 인트라넷</p>
        </div>
    </div>
    -->
</div>


{% endblock %}
