{% extends "blog/base_new.html" %}

{% block title %}
<title>PapaMob의 개인정보보호정책</title>
{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-12 col-lg-9 col-xl-10" style="line-height:2;">


        <h4>파파몹의 개인정보보호정책</h4>
        <p>개인정보는 개인 본인의 자산이고 이를 통한 이윤은 본인에게 귀속되어야 한다.
          개인의 정보를 기업의 자산으로 주장하고 개인의 정보로 큰 이득을 보고있는 대다수 IT 기업들의
          과도한 개인정보 요구와 오용, 남용에 반대한다.
          개인의 정보 활용이 개인의 선택이고 개인 스스로의 이득이 되어야 한다.
        </p>
        <ol>
          <li>
            개인을 특정할 수 있는 개별정보 또는 조합된 정보의 묶음이 개인정보에 해당한다.
          </li>
          <li>
            개인을 특정할 수 있는 개인정보는 개인 본인의 소유이고 자산이다.
            제 3자가 이 정보를 통해 어떠한 형태의 이득도 무단으로 취할 수 없다고 믿는다.
          </li>
          <li>
            개인을 특정할 수 있는 개인정보를 활용해서 어떠한 형태로든 이득을 취하려는 자 또는 집단은
            정보의 취득형태, 활용형태, 이를 통해 발생시키는 이득의 형태와 규모를 상세하게 공개해야 한다.
          </li>
          <li>
            개인을 특정할 수 있는 개인정보를 활용해서 어떠한 형태로든 이득을 취하려는 자 또는 집단은
            최소한의 수수료를 제외한 모든 이득을 개인에게 환원해야 한다.
          </li>
          <li>
            개인을 특정할 수 있는 개인정보를 활용해서 어떠한 형태로든 이득을 취하려는 자 또는 집단은
            이득 발생의 모든 과정을 공개해야하고 공개의 수준은 전부, 대중이 이해할 수 있는
            쉬운 표현과 문장으로 누구나 이해할 수 있는 설명으로 구성해야 한다.
          </li>
          <li>
            파파몹의 모든 서비스는 위 정책을 기반으로 서비스를 제공한다.
          </li>
          <li>
            파파몹의 모든 서비스는 어떠한 형태의 개인정보 무단 취득, 우회 취득, 정보 거래를 반대한다.
            개인정보가 개인의 자산이고 이를 통한 모든 이득은 개인에게 환원되어야 한다는 신념으로 모든
            서비스를 설계하고 제공한다.
          </li>
        </ol>
        <p align=center><small>
        2022년 현재 파파몹의 모든 서비스는 개인정보를 수집하지 않습니다.</small>
        </p>

  </div>
</div>
<div style="height:70">
  <!-- 여백 -->
</div>

{% endblock %}
