{% extends "base_generic.html" %}
{% block content %}
  <h1>Book List</h1>
  {% if book_list %}
  <div class="row">
    {% for book in book_list %}
    <div class="col-md-3 mt-3">
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> <br>
    {{ book.author }}<br>
    <!-- this bookcover attribute has no file associated with it. 이 에러문구를 잘못 해석함.
    북커버 이미지가 없을 때를 추가해야.
    if book.bookcover 이걸로 해결했음.
    -->
    {% if book.bookcover %}
    <img src="{{ book.bookcover.url }}" width="100%" height="auto">
    {% else %}
    [[[ NO IMAGE ]]]
    {% endif %}

    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}
